[submodule "3rdparty/psn-cpp"]
	path = 3rdparty/psn-cpp
	url = https://github.com/vyv/psn-cpp.git
[submodule "3rdparty/RTTrP"]
	path = 3rdparty/RTTrP
	url = https://github.com/RTTrP/RTTrP-v2.4.2.0.git
[submodule "3rdparty/opentrackio-cpp"]
	path = 3rdparty/opentrackio-cpp
	url = https://github.com/mosys/opentrackio-cpp.git
[submodule "3rdparty/tsopenxr"]
	path = 3rdparty/tsopenxr
	url = https://github.com/cnlohr/tsopenxr/
